<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">مسابقات ACM دانشگاه بزرگمهر قائنات</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ناحیه کاربری
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/profile">داشبورد</a></li>
              <li><a class="dropdown-item" href="/scoreboard">جدول امتیازات</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div style="color: #fff;">
        نام گروه شما: {{ group_name }}
      </div>
    </div>
  </nav>